    .btn1 {
        border: solid 1px black;
        width: 25%;
        height: 90px;
        background-color: darkgray;
        color: white;
    }

    .btn0 {
        border: solid 1px black;
        width: 50%;
        height: 90px;
        background-color: darkgray;
        color: white;
    }

    .btnX {
        border: solid 1px black;
        width: 25%;
        height: 90px;
        background-color: rgb(218, 125, 20);
        color: white;
    }
